body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(26, 4, 107);
}
.calculator {
  position: relative;
  display: grid;
}
.calculator .value {
  grid-column: span 4;
  height: 130px;

  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}
.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #147dad;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator span:active {
  background: rgb(28, 223, 38);
  color: #111;
}
.calculator span.clear {
  grid-column: span 2;
  width: 122px;
  background: #f3647c;
}
.calculator span.plus {
  grid-row: span 2;
  height: 122px;
}
.calculator span.equal {
  background: #d3b79d;
}
