#div1 {
  background-color: rgb(118, 58, 216);
  color: white;
  padding: 5px;
}

.button {
  background-color: hsl(266, 79%, 77%);
  color: aqua;
  border: 30px;
  border-color: blue;
  text-emphasis-color: blue;
  text-decoration: wavy;
  padding: 50px;
  color: #0c0e80;
  font-size: 20px;
  font-family: inherit;
  margin-left: 400px;
  border-radius: 10px;
}
.button1 :hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
