body {
  display: grid;
  position: relative;
  align-items: center;
  background: greenyellow;
}
.display {
  padding: 10%;
  display: grid;
  grid-template-areas: 200px 200px 200px;
  grid-gap: 3%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.card {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image" "text";
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 15px;
  background: rgb(124, 99, 212);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
}
.card_image {
  grid-area: image;
  background: url("bg3.jpg");
  background-color: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card_text {
  grid-area: text;
  margin: 25px;
}

.sem {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sem span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #5fb8d8;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sem span:active {
  background: rgb(112, 241, 6);
  color: #111;
}

.card_stats {
  grid-area: stats;
}
.subject {
  text-align: center;
  color: rgb(171, 136, 236);

  font-size: 40px;
}
